<div class="footer">
  <div class="footer-copyright">
    <p>
    © Copyright 2020 Team Sustainability: App made with <i class="fa fa-heart"></i>
    <br>
    All rights reserved.
    </p>
  </div>
  <div>
    <h6>Collaborators</h6>
    <div class="footer-links">
      <a href="https://github.com/aronzieger" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://github.com/Ninovation-lab" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://github.com/Steph91s" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>
