<div class="footer">
  <div class="footer-copyright">
    <br>
    © Copyright 2020 Team Sustainability: App made with <i class="fa fa-heart"></i> <br>
    All rights reserved.
  </div>
  <div>
    <h6>Follow us</h6>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
