<%= form_tag cars_path, method: :get do %>
  <div class="container-search algolia">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Type in your favorite E-Car"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>
