<%= simple_form_for cars_path do %>
  <div class="container-search algolia">
    <input type="search" id="car-location" placeholder="Where are we going?" name="cars[location]" />
    <%= submit_tag "Search", class: "btn btn-info search" %>
  </div>
<% end %>


