<%= form_tag cars_path, method: :get, class: 'form-inline' do %>
  <div class="algolia">
    <input type="search" id="car-location" placeholder="Where are we going?" name="cars[location]" />
  </div>
  <%= submit_tag "Search", class: "btn btn-info search" %>
<% end %>



