<div class="banner image-banner">
  <div class="banner-content">
    <h1>Electric cars</h1>
    <p><span id="banner-typed-text"></span></p>
    <p>Take part in the future of mobility</p>
    <%# <%= render "shared/form" %>
  </div>
</div>