<div class="banner image-banner-home">
  <div class="banner-content">
    <p><span id="banner-typed-text"></span></p>
    <h1>E-Cars Station</h1>
    <%# <%= render "shared/form" %>
    <%= render 'shared/form' %>
  </div>
</div>