.results-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  flex-grow: 1;
  padding: 2px 5px 10px 5px;
}

.card {
  overflow: hidden;
  height: 15em;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.results-picture {
  height: 375px;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 1px;
  margin: 5px 5px 0 5px;
}

.results-detail {
  height: 80px;
  position: relative;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results-detail h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.results-detail p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.results-detail > h4 {
  font-size: 17px;
  position: absolute;
  top: 0px;
  left: 10px;
  color: rgba(55, 55, 55, 0.9);
}

.results-detail > p {
  font-size: 15px;
  font-weight: bolder;
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: #119cab;
  letter-spacing: 1px;
}

.light-words {
  font-weight: lighter;
  color: rgba(100, 100, 100, 0.8);
}

.show-details {
  position: relative;
  top: -200px;
  left: 90px;
  font-size: 0.6em;
  text-shadow: 2px 2px 2px black;
  color: white;
}

.show-details:hover {
  color: red;
  text-decoration: none;
}