.banner {
  height: 100vh;
  justify-content: space-evenly;
  background-position: center;
}

.main-container {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 15px;
}

.booking-request {
  text-align: center;
  justify-content: center;
  height: 450px;
  padding: 30px;
  margin: 30px;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888;
}

.car-details {
  display: flex;
  position: relative;
  width: 400px;
  padding: 30px;
  margin: 30px;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888;
}

#car-brand {
  position: absolute;
  top: 20px;
  left: 20px;
}

#car-descrip {
  position: absolute;
  top: 80px;
  left: 15px;
}

#car-categ {
  position: absolute;
  top: 25px;
  right: 20px;
  font-style: italic;
}

#car-location {
  position: absolute;
  bottom: 110px;
  left: 20px;
}

#car-seats {
  position: absolute;
  bottom: 45px;
  left: 20px;
}

#car-price {
  position: absolute;
  bottom: 45px;
  right: 20px;
}

.buttOn {
  margin-left: 670px !important;
}

